body{
  margin-left:auto;
  margin-right:auto;
  min-height:100%;
  height:auto;
}

html, body,.wrap{height: 100%;}

body .wrap {height: auto; min-height: 100%;}

.main{
  padding-bottom:100px;
}

header{
  background:#009DD9;
  top:0;
  width:100%;
  color:white;
  position:fixed;
  z-index:1;
  padding:10px 0 10px;
}

header a{
  color:white;
}

.header-logo{
  margin-left:10px;
  color:white;
  padding:10px 0 10px;
  display:block;
  float:left;
  font-size:150%;
}

.u-search{
  float:right;
  display:block;
  background:white;
  margin-right:20px;
  padding:5px 5px 5px 5px;
  border-radius:15px;
}

.u-search *{
  float:left;
  display:block;
  border:0;
}

.search-input{
  width:240px;
  margin-left:5px;
  height:18px;
  font-size:100%;
}

.btn{
  display:block;
  margin-right:1em;
  float:right;
  padding:10px 0 10px;
}

.btn a{
  text-align:center;
  height:50%;
  position:relative;
}

.content{
  margin-top:60px;
}

.left{
  font-size:150%;
  height:100%;
  z-index:1;
  margin-top:10px;
}

.left-nav{
  width:100%;
}

li{
  text-align:center;
}

.left-nav li{
  background-color:#009DD9;
  width:100%;
  line-height:50px;
  display:block;
  text-align:center;
  border-top:1px solid white;
  list-style:none;
}

.right{
  height:100%;
  margin-top:10px; 
}

.right li{
  display:block;
  line-height:18px;
  list-style:none;
}

.right-rkl{
  border:1px solid #d7dcdf;
  text-align:center;
  margin-left:20px;
  padding:5px;
}

.right-rkl-title{
  display:block;
  text-align:left;
  line-height:24px;
}

.rkl-item-title{
  float:left; 
}

.footer{
  width:100%;
  height:100px;
  position:relative;
  clear:both;
  margin-top:-100px;
  text-align:center;
}

li a{
  text-decoration:none;
  color:white;
  display:block;
}

a{
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}

.blog-list{
  margin-top:10px; 
  padding:10px 0px 10px 5px;
  margin-left:15px;
}

div{
  overflow:auto;
}

.blog-list li{
  list-style:none;
  border-bottom:1px solid #d7dcdf;
  padding-top:5px;
}

.blog-list>:first-child{
  border-top:1px solid #d7dcdf;
}

.blog-list-item{
  padding:0 0 5% 0;
}

.head{
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto 5px;
  border-radius: 50%;
}

.item-user {
  float:left;
  display:block;
  margin-top:20px;
}

.item-artical{
  float:left;
  display:block;
  width:80%;
  margin-left:20px;
}

.item-title,.right-rkl a {
  color:#333;
}

.right-rkl a{
  display:block;
  font-size:90%;
}

.rkl-title{
  float:left;
  max-width:10em;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}

.rkl-readcount{
  float:right;
}

.nickname{
  font-size: 12px;
  color: #333;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: center;
}

.item-title{
  word-wrap:break-word;
  overflow:hidden;
  max-height:2em;
  line-height:100%;
}

.item-date{
  color:#999;
  font-size:80%;
  margin-top:-10px;
}

.item-abstract{
  text-overflow:ellipsis;
  overflow:hidden;
  margin-top:5px;
  height:3em;
  line-height:150%;
}

.item-action{
  width:100%;
  margin-bottom:0;
  color:#aaa;
  text-align:right;
  font-size:80%;
  margin:5px 0 0 0;
  padding-bottom:5px;
}

.item-action *{
  margin:0 0 0 5px;
}

.login-area, .register-area{
  text-align:center;
  list-style:none;
  margin:auto;
  min-height:590px; 
  width:300px;
  vertical-align:middle;
}

.login-area li, .register-area li{
  width:100%;
}

div input {
  width:95%;
  height:35px;
}

.register-submit{
 color:white;
 background-color:#009dd9;
 border:0;
 width:97%;
}
